extends layout 

block content 
  .content-principal
    h1 #{namePage}

    form.add-task(action=`/project/${project.url}` method="post")
      .campo
        label(for="task") Task:
        input.name-task(type="text" name="task" placeholder="New Task")  
      .campo.send
        input.button.new-task(type="submit" value="Add Task")

    .list-slopes
      ul 
        if tasks.length
          each task in tasks 
            li.task 
              p #{task.task}
              .actions
                if task.status
                  i.far.fa-check-circle.complete
                else 
                  i.far.fa-check-circle
                i.fas.fa-trash
        else 
          li
            p No tasks


    //- pre #{varDump(tasks)}

    // TODO: Actions that can be done here
    .container-actions 
      a(href=`/project/edit/${project.id}` class="button") Edit project
      button#delete-project(data-project-url=project.url type="button" class="button delete") Delete project