extends layout 

block content 
  .content-principal
    h1 #{namePage}

    form.add-task(action=`/project/${project.url}` method="post")
      .campo
        label(for="task") Task:
        input.name-task(type="text" name="task" placeholder="New Task")  
      .campo.send
        input.button.new-task(type="submit" value="Add Task")

    // TODO: Pending tasks here
    //- pre #{varDump(project)}

    // TODO: Actions that can be done here
    .container-actions 
      a(href=`/project/edit/${project.id}` class="button") Edit project
      button#delete-project(data-project-url=project.url type="button" class="button delete") Delete project